---
layout: default
---

<h2>{{ page.title }}</h2>
<ul>
    {% for lesson in site.courses %} {% if lesson.dir == page.dir and
    lesson.layout != 'course' %}
    <li>
        <a href="{{ lesson.url | relative_url }}">{{ lesson.title }}</a>
    </li>
    {% endif %} {% endfor %}
</ul>

<h2>Debugging Lessons</h2>
<ul>
    {% for doc in site.courses %}
    <li>
        <strong>{{ doc.title }}</strong><br />
        dir: {{ doc.dir }}<br />
        path: {{ doc.path }}<br />
        layout: {{ doc.layout }}<br />
        name: {{ doc.name }}<br />
    </li>
    {% endfor %}
</ul>
