---
layout: default
---

<h2>{{ page.title }}</h2>
<ul>
    {% assign course_lessons = site.courses | where_exp: "lesson", "lesson.path
    contains page.dir" %} {% for lesson in course_lessons %}
    <li>
        <a href="{{ lesson.url | relative_url }}">{{ lesson.title }}</a>
    </li>
    {% endfor %}
</ul>

<h2>Debugging Lessons</h2>
<ul>
    {% for doc in site.courses %}
    <li>
        <strong>{{ doc.title }}</strong><br />
        dir: {{ doc.dir }}<br />
        path: {{ doc.path }}<br />
        layout: {{ doc.layout }}<br />
        name: {{ doc.name }}<br />
    </li>
    {% endfor %}
</ul>
