<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    </head>
    <body>
        <main>{{ content }}</main>
        <hr />
    </body>
</html>
